@media screen and (max-width: 768px) {
  body {
    width: 100%;
    padding: 10px;
  }
  .side-bar ul li {
    line-height: 5;
  }
  main {
    margin-top: 10px;
    margin-bottom: 0;
  }
  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  aside {
    display: none;
  }
  input {
    padding: 15px;
  }
  #add-button {
    width: 100%;
  }
  #add-button:focus {
    outline: none;
  }

  #add-button:active {
    scale: 100%;
  }
  section {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: calc(65px + 10px);
    gap: 10px;
  }
  .card {
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 10p 10px;
    background: #0f9e99;
    border: none;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    font-size: 12px;
    gap: 35px;
  }
  .card-info {
    display: flex;
  }
  .div-holder {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 10px;
  }
  p {
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: none;
  }
  .delete-icon {
    font-size: 18px;
  }
  .footer-list {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 15px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    margin-right: 20px;
    z-index: 40;
    font-weight: 600;
  }
  .list-container {
    position: relative;
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 3px grey;
    left: 0;
    background: rgba(20, 22, 35, 0.35);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 20px;
    border: none;
    right: 0;
    padding: 10px 0;
  }

  .list-container li {
    list-style: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 3px;
    color: white;
  }
  .list-container li i {
    font-size: 3rem !important;
  }
  .icon{
    font-size: 1.5rem;
  }
  .badge {
    position: absolute;
    top: 17px;
    right: 13px;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    display: flex;
    border: 1px solid white;
    box-shadow: 0 0 2px gray;
  }
  .list-container li:nth-child(3) {
    width: 80px;
    height: 80px;
    background-color: #5c899d;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    border: 2px solid white;
    border-radius: 50%;
    box-shadow: 0 0 3px grey;
  }
}
