* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  min-height: 100vh;
  background: #efe9e0;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Montserrat", sans-serif
}
main {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 35px;
  gap: 24px;
}
h1 {
  font-weight: 600;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.content {
  width: 100%;
  max-width: 550px;
  justify-content: center;
  display: flex;
  gap: 10px;
  margin-top: 20px;
}
input {
  width: 100%;
  height: 45px;
  font-size: 1rem;
  font-weight: 500;
  padding: 0px 10px 0;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px gray;
}
input:focus {
  outline: 1px solid #ff00aa;
}
input:focus::after {
  outline: none;
}
#add-button {
  width: 30%;
  height: 45px;
  padding: 15px;
  border: none;
  border-radius: 10px;
  background: #5c899d;
  color: white;
  font-size: 20px;
  font-weight: 600;
  box-shadow: 0 0 5px gray;
  text-align: center;
  transition: 0.3s ease;
}

#add-button:hover {
  scale: 95%;
}
section {
  width: 50%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  margin-top: 15px;
  gap: 15px;
}
.card {
  width: 100%;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 10px 2px;
  background: #0f9e99;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 5px gray;
  color: white;
  font-weight: 500;
  gap: 30px;
}
.div-holder {
  width: 100%;
  display: flex;
}
.footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}
p {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
.delete-icon {
  color: red;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
}
.errorMessage{
  width: 100%;
  justify-content: center;
  display: flex;
  color: grey;
  background: #0f9e99;
}
#error-message {
  width: 100%;
  justify-content: center;
  display: none;
  color: red;
  gap: 10px;
  
}